@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color:  #375088;
    box-sizing: border-box;
    background-color: #8dccff;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 24em;
}

h2{
    margin-bottom: 10px;
}

p{
    font-size: 1em;
}

.input-box{
    position: relative;
    width: 100%;
    height: 2.8em;
    margin: 10px 0 15px 0;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, alpha);
    border-radius: 30px;
    overflow: hidden;
}

.input-box input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 1.2em;
    padding: .4em .8em;
    outline: none;
    border: none;
    border-radius: 20px;
}

.input-box .show-pass{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(calc(-50% + 4px));
    font-size: 1.4em;
}

.validation{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    list-style-type: none;
    color: white;
    font-size: .8em;
    border-radius: 1em;
    background-color: #375088;
}

.validation ion-icon{
    width: 11px;
    height: 11px;
    padding-right: 5px;
}